       {% load static %}

<div class="card container" align="center" style="overflow: auto; margin-bottom: 5px;">
    <div id="numbers container" class="card-body">
      <div class="row container" >
        <div class="col container" align="center">

                {% for line in main_balls %}
                    <div class="row container" style="justify-content: center">
                <img src="{% static '' %}{{ type_of_game }}.png " width="50" >

                    {% for number in line %}

                        <div class="numberCircle"> {{ number }} </div>

                    {% endfor %}
                    </div>
                {% endfor %}


        </div>
                  <div class="col container " align="center">

                {% for line in bonus_balls %}

                    <div class="row container " style="justify-content: center">
                <img src="{% static '' %}{{ type_of_game }}.png " width="50">

                    {% for number in line %}

                        <div class="numberCircle box"> {{ number }} </div>

                    {% endfor %}
                    </div>
                {% endfor %}

        </div>

</div>


